.firm-table tbody {
    border-bottom: 1px solid lightgray;
}

.firm-table th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
}

.firm-table td {
    cursor: pointer;
}